@charset "utf-8";
/* CSS Document */

a {
color: #9b59b6;
}

p a {
color: #9b59b6;
}

h5 {
color: #9b59b6;
}

.title-intro-time {
color: #9b59b6;
}

.title-intro-the-sea {
color: #9b59b6;
}

.line-left {
background: #9b59b6;
}

.lead-icon {
color: #9b59b6;
}

@-webkit-keyframes glow {
    0% {
		border-color: #9b59b6;
		/* box-shadow: 0 0 5px rgba(0,0,0, .2), inset 0 0 5px rgba(0,0,0, .1); */
    }	
    100% {
		border-color: #9b59b6;
		/* box-shadow: 0 0 20px rgba(0,0,0, .6), inset 0 0 10px rgba(0,0,0, .4); */
    }
}
@-moz-keyframes glow {
    0% {
		border-color: #9b59b6;
		/* box-shadow: 0 0 5px rgba(0,0,0, .2), inset 0 0 5px rgba(0,0,0, .1); */
    }	
    100% {
		border-color: #9b59b6;
		/* box-shadow: 0 0 20px rgba(0,0,0, .6), inset 0 0 10px rgba(0,0,0, .4); */
    }
}
@-o-keyframes glow {
    0% {
		border-color: #9b59b6;
		/* box-shadow: 0 0 5px rgba(0,0,0, .2), inset 0 0 5px rgba(0,0,0, .1); */
    }	
    100% {
		border-color: #9b59b6;
		/* box-shadow: 0 0 20px rgba(0,0,0, .6), inset 0 0 10px rgba(0,0,0, .4); */
    }
}
@-ms-keyframes glow {
    0% {
		border-color: #9b59b6;
		/* box-shadow: 0 0 5px rgba(0,0,0, .2), inset 0 0 5px rgba(0,0,0, .1); */
    }	
    100% {
		border-color: #9b59b6;
		/* box-shadow: 0 0 20px rgba(0,0,0, .6), inset 0 0 10px rgba(0,0,0, .4); */
    }
}
@keyframes glow {
    0% {
		border-color: #9b59b6;
		/* box-shadow: 0 0 5px rgba(0,0,0, .2), inset 0 0 5px rgba(0,0,0, .1); */
    }	
    100% {
		border-color: #9b59b6;
		/* box-shadow: 0 0 20px rgba(0,0,0, .6), inset 0 0 10px rgba(0,0,0, .4); */
    }
}

.submit-button {
background: #9b59b6;
}

.submit-button:hover {
color: #fff;
background: #9b59b6;
}

.submit-button-2 {
background: #9b59b6;
}

.submit-button-2:hover {
color: #fff;
background: #9b59b6;
}

.owl-page.active span {    
background: #9b59b6;
}

/* Styleswitch [DEMO only] */
.expand { 
background: #9b59b6;
}

.options-head {
background: #9b59b6;
}